# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Environment variables
.env

# Vector DB
vector_store/

# Notebook checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# notes
notes.txt

# Docker file
Dockerfile
*.yml